{% extends '_layout/cms.html' %}

{% block content %}
  {% include '_include/cms/navbar.html' %}

    <div class="container-fluid px-0">
      <div class="row no-gutters">
        {% include '_include/cms/sidenav.html' %}

        <main role="main" class="dashboard-main col-12 col-md-10 bg-light-2 py-3" style="min-height: 100vh">
          <div class="container-fluid has-navbar-fixed">
            {% include '_include/cms/tuition/hero.html' %}

            {% include '_include/cms/tuition/filter-bar.html' %}

            <section class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body py-0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Monthly</th>
                          <th scope="col">Jun</th>
                          <th scope="col">Jul</th>
                          <th scope="col">Aug</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">001</th>
                          <td>Albert Camus</td>
                          <td>Rp 750.000.000</td>
                          <td>Rp 500.000.000</td>
                          <td>Rp 500.000.000</td>
                          <td>Rp 500.000.000</td>
                        </tr>
                        <tr>
                          <th scope="row">002</th>
                          <td>Franz Kafka</td>
                          <td>Rp 750.000.000</td>
                          <td>Rp 500.000.000</td>
                          <td>Rp 500.000.000</td>
                          <td>Rp 500.000.000</td>
                        </tr>
                        <tr>
                          <th scope="row">003</th>
                          <td>Jean-Paul Sartre</td>
                          <td>Rp 750.000.000</td>
                          <td>Rp 500.000.000</td>
                          <td>Rp 500.000.000</td>
                          <td>Rp 500.000.000</td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="btn-toolbar my-3" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light text-primary"><span class="fa fa-angle-left"></span></button>
                        <button type="button" class="btn btn-light text-primary"><span class="fa fa-angle-double-left"></span></button>
                      </div>
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-light text-primary">1</button>
                        <button type="button" class="btn btn-light text-primary">2</button>
                        <button type="button" class="btn btn-light text-primary">3</button>
                      </div>
                      <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light text-primary"><span class="fa fa-angle-right"></span></button>
                        <button type="button" class="btn btn-light text-primary"><span class="fa fa-angle-double-right"></span></button>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </main>
      </div>
    </div>
{% endblock %}