{% extends '_layout/cms.html' %}

{% block content %}
  {% include '_include/cms/navbar.html' %}

    <div class="container-fluid px-0">
      <div class="row no-gutters">
        {% include '_include/cms/sidenav.html' %}

        <main role="main" class="dashboard-main col-12 col-md-10 bg-light-2 py-3" style="min-height: 100vh">
          <div class="container-fluid has-navbar-fixed">
            {# {% include '_include/cms/tuition/hero.html' %} #}

            {% include '_include/cms/tuition/filter-bar.html' %}

            {% include '_include/cms/tuition/table.html' %}

          </div>
        </main>
      </div>
    </div>
    <div id="js_cms_tuition_template_contents" class="d-none">
      <div class="js-cms-tuition-name-popover-content">
        <div class="p-2 border rounded">
          <a href="javascript:void(0);" class="btn btn-light text-left"><span class="fa fa-envelope mr-2 text-primary"></span>Email</a>
          <a href="javascript:void(0);" class="btn btn-light text-left"><span class="fa fa-comment mr-2 text-primary"></span>SMS</a>
          <a href="javascript:void(0);" class="btn btn-light text-left"><span class="fa fa-pencil mr-2 text-primary"></span>Edit</a>
          <a href="javascript:void(0);" class="btn btn-light text-left"><span class="fa fa-trash mr-2 text-danger"></span>Delete</a>
        </div>
      </div>
    </div>
{% endblock %}