{% extends '_layout/cms/student.html' %}

{% set page_id = 'student' %}

{% block content %}
  {% include '_include/cms/navbar.html' %}

    <div class="container-fluid px-0">
      <div class="row no-gutters">
        {% include '_include/cms/sidenav.html' %}

        <main role="main" class="dashboard-main col-12 col-md-9 col-lg-10 bg-light-2 py-3" id="js_dashboard_main" style="min-height: 100vh">
          <div class="container-fluid has-navbar-fixed">
            {% include '_include/cms/student/hero.html' %}

            {% include '_include/cms/student/table.html' %}
          </div>
        </main>
      </div>
    </div>
{% endblock %}