<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/kaji-material.css">
    <link rel="stylesheet" href="../css/product-cms.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/ebb6ee31d7.js"></script>
    <!-- Add Material CSS, replace Bootstrap CSS -->
  </head>
  <body>
    {% block content %}{% endblock %}

    {% include '_include/cms/student-detail/footer-script.html' %}
  </body>
</html>