    <script src="../copy/vendor/jquery.min.js"></script>
    <script src="../copy/vendor/popper.min.js"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script src="../copy/vendor/bootstrap.min.js"></script>
    <script src="../copy/vendor/material.min.js"></script>
    <script src="../copy/vendor/lodash.min.js"></script>
    <script src="../copy/vendor/jquery.dynatable.js"></script>

    {# Feather Icons #}
    <script>
      feather.replace();
    </script>

    {# Babel Standalone #}
    <script src="../copy/vendor/babel.min.js"></script>
    
    {# Faker #}
    <script src="../copy/vendor/faker.min.js"></script>

    {# Fake Tuition Data #}
    <script type="text/babel">
      faker.locale = "en_IND";
      const generateFakeTuition = () => {
        return [
          'Albert Camus',
          'Franz Kafka',
          'George Orwell',
          'Jean-Paul Sartre',
          'Paulo Coelho'
        ].map((studentName, i) => ({
          'name': studentName,
          'email': (studentName.split(' ').join('.') + '@mail.com').toLowerCase(),
          'phone': faker.phone.phoneNumber(),
          'payments': (() => {
                      return [
                        'Jul 2017',
                        'Aug 2017',
                        'Sep 2017',
                        'Oct 2017',
                        'Nov 2017',
                        'Dec 2017'
                      ].map((month, i) => ({
                        'month': month,
                        'paid': `Rp ${faker.random.number( { min: 5, max: 9 } ) * 100}.000`,
                        'periodStart': `${faker.random.arrayElement(['Jul', 'Aug', 'Sep'])} 2017`,
                        'periodEnd': `${faker.random.arrayElement(['Jul', 'Aug', 'Sep'])} 2017`
                      }))
                    })()
        }));
      };

      const fakeTuition = generateFakeTuition();
    </script>

    {# Tuition UI Script #}
    <script>
      $(function () {

        var $tuitionTable = $('#js_cms_tuition_table');

        function appendRowAction(elRow) {
          var $elTrigger = elRow.find('.js-cms-tuition-col-name')
          var templateFn = _.template($('#js_tuition_row_action_template').html());
          var templateHTML = templateFn({
            index: $elTrigger.attr('data-row-index'),
            name: $elTrigger.attr('data-record-name'),
            email: $elTrigger.attr('data-record-email'),
            phone: $elTrigger.attr('data-record-phone')
          });

          elRow.after(templateHTML);
          $elTrigger
            .attr('data-toggle', 'collapse')
            .collapse();
        }

        $tuitionTable.bind('dynatable:afterUpdate', function(e, dynatable) {
          var $table = $(this);
          $table.find('tbody').find('tr').each(function(i) {
            var $row = $(this);
            appendRowAction($row);
          });
        });

        function generateTuitionRow(rowIndex, record, columns, cellWriter) {

          function generateCell( templateIn, rowIndex, record ) {
            var templateFn = _.template(templateIn.html());
            var templateOut = templateFn({rowIndex: rowIndex, record: record});
            return templateOut;
          }

          return '<tr>' +
            generateCell( $('#js_tuition_cell_id_template'), rowIndex, record ) +
            generateCell( $('#js_tuition_cell_name_template'), rowIndex, record ) +
            generateCell( $('#js_tuition_cell_payments_template'), rowIndex, record ) +
            '</tr>';
        }

        $tuitionTable.dynatable({
          features: {
            paginate: false,
            sort: false,
            pushState: false,
            search: false,
            recordCount: false,
            perPageSelect: false
          },
          dataset: {
            records: fakeTuition
          },
          writers: {
            _rowWriter: generateTuitionRow
          }
        });

        $('[data-toggle="tooltip"]').tooltip();

      });
    </script>