    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white faux-border-bottom p-0">
      <div class="container-fluid px-0">
        <div class="row no-gutters">
          <div class="col-3 col-md-2">
            <a class="navbar-brand w-100 border-right" href="#"><span class="d-block w-100 text-center text-primary">K</span></a>
          </div>

          <div class="col-3 col-md-4 px-3">
            <div class="d-flex flex-row">
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle no-elevation" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-arrow-right text-white"></span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);">School Name X123</a>
                  <a class="dropdown-item" href="javascript:void(0);">School Name X456</a>
                  <a class="dropdown-item" href="javascript:void(0);">School Name X789</a>
                </div>
              </div>
              <div class="align-self-center">
                <h5 class="m-0 px-3 text-bold text-dark">The School Name at Some Place</h5>
              </div>
            </div>
          </div>
          
          <ul class="navbar-nav ml-md-auto border-left px-3">
            <li class="nav-item">
              <a class="nav-link py-1 px-2 dropdown-toggle"
                data-toggle="dropdown"
                id="js_cms_navbar_user_dropdown"
                href="javascript:void(0);"><span
                  class="d-inline-block align-bottom lh-4">My Name</span><span
                    class="d-inline-block align-bottom ml-1" data-feather="chevron-down"></span></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action 1</a>
                <a class="dropdown-item" href="#">Action 2</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 mx-2"
                style="border-radius: 50%; overflow: hidden; opacity: 1;" 
                href="javascript:void(0);"><img height="32" src="../copy/sample/avatar/admin.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>