        <nav class="cms-sidenav col-3 col-md-2 d-none d-md-block bg-white">
          <div class="cms-sidenav-sticky has-navbar-fixed">
            <ul class="nav flex-column">
              {# <li class="nav-item" id="js_sidenav_parent_item_school" data-children=".js-sidenav-child-item-school">
                <div class="js-sidenav-child-item-school">
                  <a class="nav-link d-flex justify-content-between py-3" data-toggle="collapse" data-parent="#js_sidenav_parent_item_school" href="#js_sidenav_accordion_item_school">
                    <div>
                      <span class="d-inline-block align-bottom" data-feather="home"></span><span class="d-inline-block lh-lg align-bottom ml-3">School</span>
                    </div>
                    <span data-feather="plus-circle" style="width: 16px;"></span>
                  </a>
                  <ul class="nav flex-column collapse" id="js_sidenav_accordion_item_school" role="tabpanel">
                    <li class="nav-item">
                      <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="check"></span><span class="d-inline-block lh-lg align-bottom ml-3">School X1</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="arrow-up-right"></span><span class="d-inline-block lh-lg align-bottom ml-3">School X2</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="arrow-up-right"></span><span class="d-inline-block lh-lg align-bottom ml-3">School X3</span></a>
                    </li>
                  </ul>
                </div>
              </li> #}
              <li class="nav-item">
                <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="layout"></span><span class="d-inline-block lh-lg align-bottom ml-3">Dashboard</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3 active" href="#"><span class="d-inline-block align-bottom" data-feather="align-justify"></span><span class="d-inline-block lh-lg align-bottom ml-3">Tuition Fee</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="monitor"></span><span class="d-inline-block lh-lg align-bottom ml-3">Entry Fee</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="users"></span><span class="d-inline-block lh-lg align-bottom ml-3">Students</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="award"></span><span class="d-inline-block lh-lg align-bottom ml-3">Scores</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="book-open"></span><span class="d-inline-block lh-lg align-bottom ml-3">Programmes</span></a>
              </li>
              <li class="nav-item faux-border-top">
                <a class="nav-link py-3" href="#"><span class="d-inline-block align-bottom" data-feather="send"></span><span class="d-inline-block lh-lg align-bottom ml-3">Posting</span></a>
              </li>
            </ul>
          </div>
        </nav>