{%
  set menu_items = [
    {
      'name': 'Dashboard',
      'id': 'index',
      'icon': 'layout',
      'path': '/cms',
      'has_separator': false
    },
    {
      'name': 'Tuition Payment',
      'id': 'tuition',
      'icon': 'align-justify',
      'path': '/cms/tuition.html',
      'has_separator': false
    },
    {
      'name': 'Entry Payment',
      'id': 'entry',
      'icon': 'monitor',
      'path': 'javascript:void(0);',
      'has_separator': false
    },
    {
      'name': 'Student',
      'id': 'student',
      'icon': 'users',
      'path': 'javascript:void(0);',
      'has_separator': false
    },
    {
      'name': 'Scores',
      'id': 'score',
      'icon': 'award',
      'path': 'javascript:void(0);',
      'has_separator': false
    },
    {
      'name': 'Programmes',
      'id': 'programme',
      'icon': 'book-open',
      'path': 'javascript:void(0);',
      'has_separator': false
    },
    {
      'name': 'Posting',
      'id': 'posting',
      'icon': 'send',
      'path': 'javascript:void(0);',
      'has_separator': true
    }
  ]
%}
        
        <nav class="cms-sidenav col-10 col-md-2 bg-white" id="js_cms_sidenav">
          <div class="cms-sidenav-sticky has-navbar-fixed">
            <ul class="nav flex-column">
              {% for item in menu_items %}
              <li class="nav-item {% if item.has_separator == true %}faux-border-top{% endif %}">
                <a class="nav-link py-3 {% if page_id == item.id %} active{% endif %}" href="{{ item.path }}">
                  <span class="d-inline-block align-bottom" data-feather="{{ item.icon }}"></span>
                  <span class="d-inline-block lh-lg align-bottom ml-3">{{ item.name }}</span></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>