/**
 *  product-cms.css v0.0.4
*/

@import '../colours-theme';
@import '../colours-material';
@import '../variables';
@import '../functions';
@import '../mixins';
@import '../utilities';

// Base Style
@import '../base/base';
@import '../base/grid';
@import '../base/typography';

// Product Style
@import 'cms/navbar';
@import 'cms/sidenav';
@import 'cms/table';
@import 'cms/message';
@import 'cms/activity';
@import 'cms/front';


.kv-pair {
  font-size: $table-tbody-font-size;
  line-height: $spacer-lg;
}

.kv-left, .kv-right {
  flex: 0 0 50%;
}