.cms-event-calendar {
  width: 100%;
  border: none !important;
  
  .datepicker--content {
    padding-bottom: $spacer;
  }
}

.cms-eventlist {
  width: 100%;
  display: flex;
  padding: $spacer 0;
  @include faux-border-top;
}

.cms-eventlist-meta {
  flex: 0 0 3.5rem;
  padding: 0 1rem 0 1rem;
  text-align: right;
}

.cms-eventlist-month {
  margin: 0;
  color: map-get(theme-color('primary'), color);
}

.cms-eventlist-date {
  margin: 0;
  font-weight: $font-weight-bold;
}

.cms-eventlist-title {
  margin-bottom: $spacer-xs;
}

.cms-eventlist-location {
  margin: 0;
  font-size: $font-size-caption;
  color: map-get(theme-color('dark'), lighter);
}

.overview-items-row {
  display: flex;
}

.overview-item {
  margin: 0;
  padding: 0 .5rem;
  flex: 0 0 33.333%;
}

.oi-label {
  margin: 0;
  font-size: $font-size-caption;
  line-height: $spacer * 1.5;
}

.oi-figure-1 {
  @include typography-headline;
  margin: 0;
  display: flex;
  align-items: center;

  .figure {
    padding: 0 $spacer-sm;
  }
}