.front-main {
  height: 100vh;
}

.front-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /*background: transparent url("background/shattered_violet@2X.png") center repeat;*/ 
  background-color: transparent; 
  /* background-image: url("background/github-codelines.svg"); */
  background-image: url("../copy/image/github-codelines.svg"); 
  background-position: center 10%; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
.front-bg + * {
  z-index: 2;
}