.kaji-table-wrapper {
  width: 100%;
  position: relative;
}

.kaji-table-scroller {
  overflow-x: scroll;
  overflow-y: visible;
}

.kaji-table {
  table-layout: fixed;
  width: 100%;
}
.kaji-table {

  tbody {

    td {
      position: relative;
    }

    td.tuition-payment-col {
      padding-top: $spacer-lg / 2;
      padding-bottom: $spacer-lg / 2;
    }
  }

  .tuition-payment {
    padding: $spacer-xs;
    background-color: $white;
    color: map-get(theme-color(dark), color);
    border-radius: $border-radius;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.unpaid {
      background-color: map-get(theme-color(danger), lighter);
      color: map-get(theme-color(danger), darker);
    }
    &.uncomplete {
      background-color: map-get(theme-color(warning), lighter);
      color: map-get(theme-color(warning), darker);
    }
    &.discount {
      background-color: map-get(theme-color(info), lighter);
      color: map-get(theme-color(info), darker);
    }
  }

  .tuition-payment-text {
    color: inherit;
    display: block;
    line-height: $spacer;
  }

  &.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.kaji-table {
  .col-w-xs { width: 2rem; }
  .col-w-s { width: 4rem; }
  .col-w-m { width: 10rem; }
  .col-w-l { width: 12rem; }
  .col-w-xl { width: 16rem; }
}

.kaji-table.cloned-col {
  position: absolute;
  left: auto;
  top: 0;
  width: auto;
}

.kaji-table {
  .tuition-col-info {
    position: absolute;
    top: 0;
  }
}