            <section class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body py-0">
                    <div class="kaji-table-wrapper">
                      <div class="kaji-table-scroller">
                        <table class="table kaji-table" id="js_cms_tuition_table">
                          <thead>
                            <tr>
                              <th class="col-w-s" scope="col">#</th>
                              <th class="col-w-m" scope="col">Name</th>
                              <th class="col-w-m" scope="col">Jul</th>
                              <th class="col-w-m" scope="col">Aug</th>
                              <th class="col-w-m" scope="col">Sep</th>
                              <th class="col-w-m" scope="col">Oct</th>
                              <th class="col-w-m" scope="col">Nov</th>
                              <th class="col-w-m" scope="col">Dec</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <script id="js_tuition_cell_id_template" type="text/x-lodash-template">
              <td><%= rowIndex %></td>
            </script>

            <script id="js_tuition_cell_name_template" type="text/x-lodash-template">
              <td class="d-block col-w-m overflow-ellipsis">
                <a class="text-dark d-block js-cms-tuition-table-col"
                  href="#js_cms_tuition_student_collapse_content"
                  data-toggle="collapse"
                ><span class="fa fa-cog mr-2"></span><span class="js-cms-tuition-table-col-name"><%= record.name %></span></a>
              </td>
            </script>

            <script id="js_tuition_cell_payments_template" type="text/x-lodash-template">
              <% for( var d = 0; d < record.payments.length; d ++ ) { %>
              <td>
                <div class="dropdown">
                  <a class="js-cms-tuition-table-col text-dark"
                    href="javascript:void(0);"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-html="true"
                    title="<div>Paid at <%= record.payments[d].month %><br/>For <%= record.payments[d].periodStart %> - <%= record.payments[d].periodEnd %></div>"
                  ><%= record.payments[d].paid %></a>
                </div>
              </td>
              <% } %>
            </script>